.about {
  padding: 60px 0;
}

.about h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  color: #211c24;
}

.about-wrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-text {
  flex: 1;
  min-width: 300px;
}

.about-text h2 {
  color: #211c24;
  margin-bottom: 15px;
}

.about-text p, .about-text ul {
  margin-bottom: 20px;
  color: #555;
}

.about-text ul {
  list-style: disc;
  padding-left: 20px;
}

.about-image {
  flex: 1;
  min-width: 300px;
}

.about-image img {
  width: 100%;
  border-radius: 15px;
}
