.profile {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  min-height: 80vh;
  gap: 30px;
}
.profile .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
@media(max-width:767px){
    .profile .container{
        flex-direction: column;
    }
}
.profile-sidebar {
    width: 250px;
    background: #211c24;
    color: #fff;
    border-radius: 15px;
    padding: 20px;
    flex-shrink: 0;
}
@media(max-width:767px){
    .profile-sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.profile-sidebar .user-info {
  text-align: center;
  margin-bottom: 30px;
}

.profile-sidebar .user-info .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid #cccc;
}

.profile-sidebar ul.tabs {
  list-style: none;
  padding: 0;
}

.profile-sidebar ul.tabs li {
  margin-bottom: 15px;
}

.profile-sidebar ul.tabs li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.profile-sidebar ul.tabs li a.active,
.profile-sidebar ul.tabs li a:hover {
  background: #cccc;
  color: #211c24;
}

.profile-content {
  flex: 1;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.orders-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-card {
  display: flex;
  gap: 20px;
  background: #fdfdfd;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.order-card img {
  width: 100px;
  border-radius: 12px;
}

.order-info p {
  margin: 5px 0;
}

.order-info .delivered {
  color: green;
  font-weight: bold;
}

.order-info .pending {
  color: orange;
  font-weight: bold;
}

form input,
form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

form button {
  background: #211c24;
  color: #fff;
  cursor: pointer;
}
